@keyframes shake {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(-5%); }
  40% {
    transform: translateX(5%); }
  60% {
    transform: translateX(-5%); }
  80% {
    transform: translateX(5%); }
  100% {
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  background-color: transparent;
  color: inherit; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.pop-up {
  color: #000;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  width: 70rem;
  height: 28rem;
  margin-top: 2rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -10%);
  transition: all 0.4s ease-in-out; }
  .pop-up__title {
    font-size: 4rem;
    font-weight: 900;
    text-transform: capitalize; }
  .pop-up__input {
    font-size: 2.5rem;
    font-weight: 600;
    border: 0.2rem solid rgba(0, 0, 0, 0.5);
    outline: none;
    border-radius: 100rem;
    width: 98%;
    margin-bottom: 2.5rem;
    padding: 1rem 3rem;
    transition: all 0.3s ease-in-out; }
    .pop-up__input:focus {
      width: 100%;
      border: 0.25rem solid #000; }
  .pop-up__btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end; }
  .pop-up__btn {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.5);
    outline: none;
    border-radius: 100rem;
    padding: 1.5rem 4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .pop-up__btn:hover {
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
      transform: translateY(-0.5rem); }
    .pop-up__btn:active {
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
      transform: translateY(-0.2rem); }
    .pop-up__btn--submit {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.85);
      margin-left: 3rem; }
    .pop-up__btn--cancel:hover, .pop-up__btn--cancel:active {
      border: 0.2rem solid rgba(255, 255, 255, 0.5); }
  .pop-up--show {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, 0); }

.date {
  width: 100%;
  position: relative; }
  .date__text {
    font-size: 10rem;
    font-weight: 900;
    text-shadow: 0 2rem 2rem #000;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .date__year {
    font-size: 32rem;
    font-weight: 600;
    line-height: 25rem;
    opacity: 0.3; }

.greet {
  transform: translateY(-10%); }
  .greet__text {
    font-size: 8rem;
    font-weight: 600; }
  .greet__name {
    cursor: pointer; }

.time__text {
  font-size: 16rem;
  font-weight: 600; }

.time__seconds {
  font-size: 8rem;
  margin: 0 2rem 0 3rem; }

.time__am-pm {
  font-size: 4rem; }

.conatiner {
  color: #fff;
  background-color: #000; }

.content {
  height: 100vh;
  width: 100vw;
  padding: 3rem 6rem;
  background-image: url("../assets/images/0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  text-shadow: 0 2rem 2rem #000;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  cursor: default; }
