*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include responsive(desk) {
        font-size: 55%;
    }

    @include responsive(1650) {
        font-size: 45%;
    }

    @include responsive(1400) {
        font-size: 38%;
    }

    @include responsive(tab-l) {
        font-size: 50%;
    }

    @include responsive(tab-p) {
        font-size: 40%;
    }

    @include responsive(750) {
        font-size: 35%;
    }
}

body {
    box-sizing: border-box;
}

::selection {
    background-color: transparent;
    color: inherit;
}
